/** Stylesheet for TwitterClient widget.
 */

/** Labels in search form. */
.twitter-client form label {
  display: inline-block;
}

/** Pages index. */
.twitter-client .index {
  margin: 20px 0;
}

/** Page numbers. */
.twitter-client .index a:link,
.twitter-client .index a:visited,
.twitter-client .index a:hover {
  color: #666;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

/** Search results feed. */
.twitter-client .feed {
  min-height: 300px;
}

/** Search results feed. */
.twitter-client .feed .logo {
  border: none;
  left: 35%;
  position: fixed;
  top: 50%;
}

/** Feed messages. */
.twitter-client .feed p {
  background: #fdfda0;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}

/** Feed message layout. */
.twitter-client .feed p .column {
  display: block;
  text-align: right;
}

/** Feed message layout. */
.twitter-client .feed p .column:first-child {
  text-align: left;
}

/** Twitter user name. */
.twitter-client .feed p .column .user-name {
  font-weight: bold;
  vertical-align: middle;
}

/** Twitter user name. */
.twitter-client .feed p .column .profile-picture-thumb {
  vertical-align: middle;
  width: 32px;
}

/** Page separator line. */
.twitter-client .feed hr {
  display: inline-block;
  width: 80%;
}

/** Search form */
.twitter-client .pager {
  border: solid 1px #aaa;
  cursor: pointer;
  display: none;
  position: relative;
  width: 99%;
}

