<div class="twitter-search-widget-content">
    <div class="logo">
        <img src="resources/styles/images/twitter-logo.png">
    </div>
    <div class="header">
        Search on <a href="//twitter.com">Twitter</a>
    </div>
    <div class="search-form">
        <input type="text" name="query">
        <input type="submit" name="submit">
    </div>
    <ul class="search-results">
        <li class="search-item">
            <div class="profile-image"></div>
            <div class="profile-username"></div>
            <div class="profile-user"></div>
            <div class="item-content"></div>
            <div class="item-time"></div>
        </li>
    </ul>
    <div class="error-message" style="display:none"></div>
    <div class="footer">Twitter Search Widget</div>
</div>